form.signup,
form.login {
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #d9d4d9;
}

.btn  {
  background-color: silver;
  color: #e71f91; /*Skyline pink */
}

.linkPic {
  height: 90px;
  width: auto;
}
